asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
boto==2.49.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
colorlog==6.7.0
Django==3.2.22
django-chartjs==2.3.0
django-markwhat==1.6.2
djongo==1.3.6
dnspython==2.1.0  # Specify a compatible version for dnspython
exceptiongroup==1.1.3
fuzzywuzzy==0.18.0
gunicorn==21.2.0
h11==0.14.0
idna==3.4
joblib==1.3.2
keyring==5.7.1
Levenshtein==0.21.1
markdown2==2.4.10
nltk==3.8.1
numpy
outcome
packaging
pandas
Pillow
plotly
pycparser
pymongo==4.5.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv
python-Levenshtein
pytz
rapidfuzz
regex
requests
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
tenacity
threadpoolctl
tornado
tqdm
trio
trio-websocket
tzdata
urllib3
whitenoise
wsproto
